@model IEnumerable<VideoRental.Models.Movie>

@*
    IEnumerable<Customer>: A simple interface implemented by the list class.
    Since in this view we only want to iterate over this list,
    and we don't need any of the operations in the List class (eg Add, Remove, etc),
    it is better to use the IEnumerable iterface, which allows use to iterate over the list.
    If in the futere, we replace the List with a different data structure,
    as long as it is enumerable, our view code will remain unchanged.
*@

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @movie.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

